.sign{
  border: 1px solid #eee;
  // background-color: #eee;
  width: 300px;
  padding: 50px;
  margin: 60px auto;
  font-size: 18px;
  .sign-item{
    display: block;
    text-align: center;
    margin-bottom: 30px;
    label{
      display: inline-block;
      width: 100px;
    }
    input{
      height: 25px;
      width: 250px;
      padding: 3px 5px;
      font-size: 16px; 
    }
    .btn-submit{
      width: 250px;
      height: 25px;
      background-color: #39B881;
      border: 1px solid #39B881;
      color: #fff;
    }
  }
  .link{
    font-size: 14px;
    margin-left: 10px;
  }
  .tip{
    text-align: center;
    margin: 20px 0;
  }
}
