/*导航栏*/
body{
  padding-top: 50px;
}
/*版权信息*/
.footer {
  margin: 20px auto;
  width: 200px;
  height: 90px;
  border: none;
  background-color: #fff; 
}
.footer a {
  color: #666; 
}
.footer p {
  color: #868c9b; 
}
/*欢迎页*/
.carousel-inner img{
  display: inline-block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
/*漏洞列表*/
.bugList{
  margin: 0 auto;
  width: 90%;
}
.headTitle{
  margin: 40px 20px 0px 0px;
  font-size: 20px;
}
.bugInfoList{
  margin: 30px auto;
  border: 1px solid #eee;
  table-layout: fixed;
  word-wrap: break-word;
}
.bugInfoList thead{
  font-size: 18px;
  color: #333;
}
.bugInfoList tbody td{
  padding: 3px 0px; 
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space:nowrap;
}
.date{
  width: 10%;
}
.bugName{
  width: 80%;
}
.author{
  width: 10%;
}
/*提交漏洞*/
.submitBugs{
  margin: 0 auto;
  width: 90%;
}
.submitBugsTip{
  width: 90%;
  margin-top: 20px;
  padding: 5px 0px 5px 30px;
  background-color: #eee;
}
.submitBugsInfo{
  margin: 30px auto;
}
.submitBugsInfo .formTitle{
  width: 20%;
  text-align: right;
  vertical-align: middle;
  padding-right: 10px;
}
.submitBugsInfo .formReplay{
  display: inline-block;
  width: 70%;
}
.submitTips{
  margin-left: 10px;
  color: #888;
}
.submitBugsInfo  select{
  width: 20%;
  margin-right: 3%;
}
.submitBugsInfo input[type="text"]{
  width: 60%;
}
.submitBugsInfo textarea{
  width: 60%;
  height: 100px;
  resize: none;
}
.submitBugsInfoItem{
  margin: 20px 0px;
}
.submitBtn{
  margin-top: 20px;
  margin-left: 12%;
}
.submitBtn .btn{
  width: 150px;
  margin: 0 5px;
}
/*厂商列表*/
.companyList{
  margin: 0 auto;
  width: 90%;
}
.companyListTip{
  width: 90%;
  margin: 20px 0;
  padding: 5px 0px 5px 30px;
  background-color: #eee;
}
.companyList>ul{
  display: inline-block;
  list-style-type: none;
  width: 90%;
  height: 30px;
  margin: 10px 0;
  padding: 0;
}
.companyList>ul>li{
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.companyList>ul>li:hover{
  background-color: #eee;
}
.companyList>ul>li>span{
  display: inline-block;
}
.companyList>ul>li>.date{
  padding: 0 3%;
  width: 20%;
}
.companyList>ul>li>.name{
  padding: 0 3%;
  width: 50%;
}
.companyList>ul>li>.webSite{
  padding: 0 3%;
  width: 20%;
}
/*漏洞概要*/
.bugInfo{
  margin: 0 auto;
  width: 90%;
}
.bugInfo ul{
  list-style-type: none;
}
.bugSummaryList{
  padding: 1% 3%;
  font-size: 14px;
  color: #333;
}
.bugSummaryList>li{
  height: 30px;
  line-height: 30px;
}
.bugSummaryList span{
  color: #555;
}
.bugDetailsList li{
  margin: 1%;
  color: #555;
}
.bugDetailsList span{
  display: inline-block;
  height: 20px;
  border-left: 3px solid #999;
  padding-left: 10px;
  color: #333;
}
.companyResponse li{
  margin: 1%;
  color: #555;
}
.companyResponse span{
  display: inline-block;
  height: 20px;
  border-left: 3px solid #999;
  padding-left: 10px;
  color: #333;
}
.comments{
  margin: 1% 4%;
}
.comments li:first-child{
  border-top: 1px solid #ddd;
}
.comments li{
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}
.addComments{
  width: 80%;
  margin: 4%;
  min-width: 400px;
  height: 100px;
  resize: none;
}
.comments .btn{
  margin-left: 4%;
}
/*白帽子列表*/
.userList{
  margin: 0 auto;
  width: 90%;
}
.userListTip{
  width: 90%;
  margin-top: 20px;
  padding: 5px 0px 5px 30px;
  background-color: #eee;
}
.userInfoList{
  margin: 30px auto;
  border: 1px solid #eee;
  table-layout: fixed;
  word-wrap: break-word;
}
.userInfoList thead{
  font-size: 16px;
  color: #333;
}
.userInfoList thead th{
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space:nowrap;
}
.userInfoList tbody td{
  padding: 3px 0px; 
  font-size: 14px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space:nowrap;
}
.userDate{
  width: 15%;
}
.userName{
  width: 40%;
}
.userLevel{
  width: 25%;
}
.submitBugNum{
  width: 15%;
}
.visible{
  display: none;
}
